##################### Rewrite engine #####################
Options +FollowSymLinks
RewriteEngine on
##########################################################

##################### I-BLOG RENAMES #####################
# acceder:
Rewriterule ^acceder/$ index.php?action=login
# Administracion:
Rewriterule ^admin/$ admin.php
# accion administrativa:
Rewriterule ^admin/(.*)/$ index.php?action=$1
# salir:
Rewriterule ^salir/$ index.php?action=logout
# registro:
Rewriterule ^registro/$ index.php?action=registro
# publicaciones:
Rewriterule ^publicacion/(.*)/(.*)/$ index.php?action=view_pub&id=$1
# categoria
Rewriterule ^categoria/(.*)/(.*)/$ index.php?action=view_list&forcat=$1
# usuario
Rewriterule ^usuario/(.*)/(.*)/$ index.php?action=view_list&foruser=$1
# páginas
Rewriterule ^pagina/(.*)/(.*)/$ index.php?action=page&id=$1
##########################################################